<!DOCTYPE html>
<html lang="en" data-theme="blue">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url"
        content="https://musicweb-phi132.herokuapp.com/" />
    <meta property="og:type" content="music" />
    <meta property="og:title" content="Let music flow in your heart and enrich your soul" />
    <meta property="og:description" content="Music brings harmony to the world" />
    <meta property="og:image"
        content="https://sanvieclamdanang.com/public/images/sanvieclamcantho_logo_sm.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <link rel="stylesheet" href="/css/app.css">
    <title>MUSIC</title>
</head>

<body>
    <div class="mucsicWeb">
        <div class="header">
            <div class="header-content">
                <div class="h-content-left">
                    <div class="arrow">
                        <div class="arrow-retreat">
                            <a href="/">
                                <i class="fas fa-arrow-left"></i>

                            </a>
                        </div>
                        <div class="arrow-advance active-trans-page">
                            <a href="/mymusic">
                                <i class="fas fa-arrow-right"></i>

                            </a>
                        </div>
                    </div>

                    <div class="header-search">
                        <i class="fas fa-search"></i>
                        <input class="input-search-header" type="search" placeholder="Search" aria-label="Search">

                        <div class="search-more-click">
                            <ul class="search-more">
                                <li class="search-more-item">
                                    <i class="fas fa-search"></i>
                                    <div class="text-search">rồi tới luôn</div>
                                </li>
                                <li class="search-more-item">

                                    <i class="fas fa-search"></i>

                                    <div class="text-search">rồi tới luôn</div>
                                </li>
                                <li class="search-more-item">

                                    <i class="fas fa-search"></i>

                                    <div class="text-search">rồi tới luôn</div>
                                </li>
                                <li class="search-more-item">

                                    <i class="fas fa-search"></i>

                                    <div class="text-search">rồi tới luôn</div>
                                </li>
                                <li class="search-more-item">

                                    <i class="fas fa-search"></i>

                                    <div class="text-search">rồi tới luôn</div>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="h-content-right">
                    <div class="theme" data-toggle="tooltip" data-placement="bottom" title="Giao Diện">
                        <button class="btn-theme">
                            <i class="icon-theme">
                                <svg width="20" height="20" viewBox="0 0 20 20">
                                    <defs>
                                        <linearGradient id="j32lhg93hd" x1="62.206%" x2="18.689%" y1="70.45%"
                                            y2="39.245%">
                                            <stop offset="0%" stop-color="#F81212"></stop>
                                            <stop offset="100%" stop-color="red"></stop>
                                        </linearGradient>
                                        <linearGradient id="hjoavsus6g" x1="50%" x2="11.419%" y1="23.598%" y2="71.417%">
                                            <stop offset="0%" stop-color="#00F"></stop>
                                            <stop offset="100%" stop-color="#0031FF"></stop>
                                        </linearGradient>
                                        <linearGradient id="la1y5u3dvi" x1="65.655%" x2="25.873%" y1="18.825%"
                                            y2="56.944%">
                                            <stop offset="0%" stop-color="#FFA600"></stop>
                                            <stop offset="100%" stop-color="orange"></stop>
                                        </linearGradient>
                                        <linearGradient id="2dsmrlvdik" x1="24.964%" x2="63.407%" y1="8.849%"
                                            y2="55.625%">
                                            <stop offset="0%" stop-color="#13EFEC"></stop>
                                            <stop offset="100%" stop-color="#00E8DF"></stop>
                                        </linearGradient>
                                        <filter id="4a7imk8mze" width="230%" height="230%" x="-65%" y="-65%"
                                            filterUnits="objectBoundingBox">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="3.9"></feGaussianBlur>
                                        </filter>
                                        <filter id="301mo6jeah" width="312.7%" height="312.7%" x="-106.4%" y="-106.4%"
                                            filterUnits="objectBoundingBox">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="3.9"></feGaussianBlur>
                                        </filter>
                                        <filter id="b2zvzgq7fj" width="295%" height="295%" x="-97.5%" y="-97.5%"
                                            filterUnits="objectBoundingBox">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="3.9"></feGaussianBlur>
                                        </filter>
                                        <filter id="a1wq161tvl" width="256%" height="256%" x="-78%" y="-78%"
                                            filterUnits="objectBoundingBox">
                                            <feGaussianBlur in="SourceGraphic" stdDeviation="3.9"></feGaussianBlur>
                                        </filter>
                                        <path id="qtpqrj1oda"
                                            d="M3.333 14.167V5.833l-1.666.834L0 3.333 3.333 0h3.334c.04 1.57.548 2.4 1.524 2.492l.142.008C9.403 2.478 9.958 1.645 10 0h3.333l3.334 3.333L15 6.667l-1.667-.834v8.334h-10z">
                                        </path>
                                        <path id="jggzvnjgfc" d="M0 0H20V20H0z"></path>
                                        <path id="2eiwxjmc7m"
                                            d="M3.333 14.167V5.833l-1.666.834L0 3.333 3.333 0h3.334c.04 1.57.548 2.4 1.524 2.492l.142.008C9.403 2.478 9.958 1.645 10 0h3.333l3.334 3.333L15 6.667l-1.667-.834v8.334h-10z">
                                        </path>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
                                        <mask id="tinejqaasb" fill="#fff">
                                            <use xlink:href="#qtpqrj1oda"></use>
                                        </mask>
                                        <use fill="#FFF" fill-opacity="0" xlink:href="#qtpqrj1oda"></use>
                                        <g mask="url(#tinejqaasb)">
                                            <g transform="translate(-2 -3)">
                                                <mask id="uf3ckvfvpf" fill="#fff">
                                                    <use xlink:href="#jggzvnjgfc"></use>
                                                </mask>
                                                <use fill="#D8D8D8" xlink:href="#jggzvnjgfc"></use>
                                                <circle cx="8.9" cy="6.8" r="9" fill="url(#j32lhg93hd)"
                                                    filter="url(#4a7imk8mze)" mask="url(#uf3ckvfvpf)"></circle>
                                                <circle cx="9.3" cy="13.7" r="5.5" fill="url(#hjoavsus6g)"
                                                    filter="url(#301mo6jeah)" mask="url(#uf3ckvfvpf)"></circle>
                                                <circle cx="15.9" cy="6.9" r="6" fill="url(#la1y5u3dvi)"
                                                    filter="url(#b2zvzgq7fj)" mask="url(#uf3ckvfvpf)"></circle>
                                                <circle cx="16.4" cy="17.7" r="7.5" fill="url(#2dsmrlvdik)"
                                                    filter="url(#a1wq161tvl)" mask="url(#uf3ckvfvpf)"></circle>
                                            </g>
                                        </g>
                                        <use fill="#FFF" fill-opacity="0.05" xlink:href="#2eiwxjmc7m"></use>
                                    </g>
                                </svg>
                            </i>


                        </button>
                    </div>

                    <input type="file" name="upload-btn" id="upload-btn" style="display: none;">
                    <label for="upload-btn">
                        <div class="upload">
                            <a class="btn-theme-link" tabindex="0">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </a>
                        </div>
                    </label>


                    <div class="setting-main">
                        <div class="setting">
                            <button class="btn-theme">
                                <i class="fas fa-cog"></i>
                            </button>

                        </div>
                    </div>
                    <div class="profile">
                        <div class="progile-avt">
                            <button class="btn-theme">
                                <img src="https://s120-ava-talk.zadn.vn/7/4/3/5/61/120/162864bc3fb9fea846983427858d3dd1.jpg"
                                    alt="" class="img-profile">
                            </button>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        {{{body}}}

        {{!-- sidebar --}}
        <aside class="sidebar">
            <div class="sidebar-wrapper">
                <nav class="sidebar-brand">
                    <div class="logo-brand">
                        <a href="/">
                            <img class="img-logo" src="https://sanvieclamdanang.com/upload/imagelogo/logodefault3.jpg"
                                alt="MusicLogo">
                        </a>


                    </div>
                </nav>
                <ul class="sidebar-main">
                    <li class="individual type-main">
                        <a href="/mymusic" class="link-main">
                            <div class="main-icon">
                                <i class="fas fa-music"></i>
                            </div>
                            <div class="main-name">
                                <span>Cá Nhân</span>
                            </div>
                        </a>
                    </li>
                    <li class="discover type-main">
                        <a href="/" class="link-main">
                            <div class="main-icon">
                                <i class="fas fa-plus-circle"></i>
                            </div>
                            <div class="main-name">
                                <span>Khám Phá</span>
                            </div>
                        </a>
                    </li>
                    <li class="zingChat type-main">
                        <a href="" class="link-main">
                            <div class="main-icon">
                                <i class="fas fa-comment-dots"></i>
                            </div>
                            <div class="main-name">
                                <span>#zingchat</span>
                            </div>
                        </a>
                    </li>
                    <li class="radio type-main">
                        <a href="" class="link-main">
                            <div class="main-icon">
                                <i class="fas fa-random"></i>
                            </div>
                            <div class="main-name">
                                <span>radio</span>
                            </div>
                        </a>
                    </li>
                    <li class="follow type-main">
                        <a href="" class="link-main">
                            <div class="main-icon">
                                <i class="far fa-dot-circle"></i>
                            </div>
                            <div class="main-name">
                                <span>Theo Dõi</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-divide">

                </div>
                <div class="sidebar-more">
                    <nav class="sidebar-more--srcoll">
                        <ul class="more-name">
                            <li class="more-title">
                                <a href="">
                                    <i class="fas fa-compact-disc"></i>
                                    <span>Nhạc Mới</span>
                                </a>
                            </li>
                            <li class="more-title">
                                <a href="">
                                    <i class="fas fa-compact-disc"></i>
                                    <span>Nhạc Mới</span>
                                </a>
                            </li>
                            <li class="more-title">
                                <a href="">
                                    <i class="fas fa-compact-disc"></i>
                                    <span>Nhạc Mới</span>
                                </a>
                            </li>
                            <li class="more-title">
                                <a href="">
                                    <i class="fas fa-compact-disc"></i>
                                    <span>Nhạc Mới</span>
                                </a>
                            </li>

                        </ul>
                        <div class="vip-banner">
                            <div class="describe-vip">
                                Nghe nhạc không quảng cáo cùng kho nhạc VIP
                            </div>
                            <a href="#" class="buy-vip">
                                mua vip
                            </a>
                        </div>
                        <div class="sidebar-libary">
                            <div class="sidebar-libary-title">
                                thư viện
                            </div>
                            <div class="icon-labary">
                                <a href="#" class="link-libary">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="sidebar-libary-personal">
                            <li class="libary-personal-item">
                                <a href="#" class="link-libary-item">
                                    <i class="icon-p-item">
                                        <img src="https://zjs.zadn.vn/zmp3-desktop/releases/v1.0.13/static/media/my-song.cf0cb0b4.svg"
                                            alt="icon">
                                    </i>
                                    <span>Bài Hát</span>
                                </a>
                            </li>

                            <li class="libary-personal-item">
                                <a href="#" class="link-libary-item">
                                    <i class="icon-p-item">
                                        <img src="https://zjs.zadn.vn/zmp3-desktop/releases/v1.0.13/static/media/my-playlist.7e92a5f0.svg"
                                            alt="icon">
                                    </i>
                                    <span>Playlist</span>
                                </a>
                            </li>

                            <li class="libary-personal-item">
                                <a href="#" class="link-libary-item">
                                    <i class="icon-p-item">
                                        <img src="https://zjs.zadn.vn/zmp3-desktop/releases/v1.0.13/static/media/my-history.374cb625.svg"
                                            alt="icon">
                                    </i>
                                    <span>Gần Đây</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="sidebar-divide">

                </div>
                <div class="add-list">
                    <button class="sidebar-btn">
                        <i class="fas fa-plus"></i>
                        <span>Tạo playlist mới</span>
                    </button>
                </div>

            </div>

        </aside>
        {{!-- header --}}

        {{!-- body --}}
        {{> footer}}

        {{!-- ovelaytheme --}}
        <div class="overlay__theme">
            <div class="control__theme">
                <div class="control_theme__container">
                    <div class="theme__container--header">
                        <div class="topic--header">
                            Giao Diện
                        </div>
                        <button class="close--theme" data-toggle="tooltip" data-placement="top" title="Thoát">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="theme__select__container">
                        <div class="theme__selecte">
                            <div class="theme__selecte--title">
                                <span>Chủ Đề</span>
                            </div>
                            <div class="theme__selecte--options">
                                <div class="item__option">
                                    <div class="item__option--image_blue">

                                        <figure>
                                            <img src="https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/theme/rose.jpg"
                                                alt="">
                                        </figure>
                                        <div class="overlay__option">
                                            <div class="option--accept--black">
                                                <div>
                                                    Áp Dụng
                                                </div>

                                            </div>
                                            <div class="option--demo--black">
                                                <div>
                                                    Xem Trước
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="item__option--name">
                                        Rosé
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        {{!-- --}}
    </div>

    {{!-- {{> sidebar}}
    {{> header}} --}}




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/mainjs/main.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>




</body>

</html>